Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["pnpm lint:fix", "prettier --write"],
  "src/lib/i18n/locales/*/*.ts": "pnpm generate:locales",
  "*.{css,postcss,svelte}": "stylelint --fix",
  "*.{json,md}": "prettier --write"
}

Rename to onCancel
  src/lib/holocene/data-encoder-settings.svelte
  tests/data-encoder.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Move error class
  src/lib/holocene/codec-endpoint-settings.svelte
Due: stylelint --fix

Add initial test for accessibility (#1412)
  .prettierignore
  package.json
  pnpm-lock.yaml
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/schedule-view.svelte
  tests/accessibility/empty-states.accessibility.spec.ts
  tests/accessibility/network-requests/empty-states.har
  tests/accessibility/network-requests/with-schedules.har
  tests/accessibility/network-requests/with-workflows.har
  tests/accessibility/with-schedules.accessibility.spec.ts
  tests/accessibility/with-workflows.accessibility.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

clean up test ergonomics
  .prettierignore
  temporal/client.ts
  temporal/codec-server.ts
  temporal/workers.ts
  tests/global-setup.ts
  tests/global-teardown.ts
  tests/storageState.json
  utilities/temporal-server.ts
Due: pnpm lint:fix, prettier --write

Remove lint issues (#1416)
  scripts/generate-locales.ts
Due: pnpm lint:fix, prettier --write

Only hightlight nav red if on namespaceSpecific pages
  src/lib/holocene/navigation/top-nav.svelte
Due: stylelint --fix

merge main
  .github/CODEOWNERS
  .prettierignore
  package.json
  plugins/vite-plugin-i18n-locales.ts
  pnpm-lock.yaml
  server/server/server.go
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/workflow-actions.ts
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/batch-service.ts
  src/lib/services/workflow-service.ts
  src/lib/utilities/workflow-actions.test.ts
  src/lib/utilities/workflow-actions.ts
  static/i18n/locales/en/workflows.json
  tests/accessibility/empty-states.accessibility.spec.ts
  tests/accessibility/network-requests/empty-states.har
  tests/accessibility/network-requests/with-schedules.har
  tests/accessibility/network-requests/with-workflows.har
  tests/accessibility/with-schedules.accessibility.spec.ts
  tests/accessibility/with-workflows.accessibility.spec.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

fix test?
  cypress/integration/workflow-executions-with-new-search.spec.js
Due: pnpm lint:fix, prettier --write

fix workflow teardown
  temporal/client.ts
Due: pnpm lint:fix, prettier --write

fix typos
  cypress/integration/workflow-executions-with-new-search.spec.js
Due: pnpm lint:fix, prettier --write

Fix BannerTemporalVersion
  src/lib/components/banner/banner-temporal-version.svelte
Due: stylelint --fix

pnpm i
  pnpm-lock.yaml
Due: none

Add static locales file
  static/i18n/locales/en/common.json
  static/i18n/locales/en/workflows.json
Due: prettier --write

Remove /e2e
  e2e/playwright-report/data/00aed89aa7c10b6398857e701eeec569c6870385.webm
  e2e/playwright-report/data/06965806a3ba88a473d771a620117471ba8a3f22.png
  e2e/playwright-report/data/6172cb333ae930b3cc41b8a8ec8f94448f50079a.webm
  e2e/playwright-report/data/6ff81eedf259a5d450c06edd4e8c28c034e37134.webm
  e2e/playwright-report/data/7c12964c65e1d63bd3f79a0387200d75275c3ff5.webm
  e2e/playwright-report/data/89dd9c48a0b3f6fbf9ca068031e921accf12293a.png
  e2e/playwright-report/data/952095584c847b08c353afa567b47b8becc15c5f.png
  e2e/playwright-report/data/c98aa5a2d35197822f75721c3c27c32d38f42deb.png
  e2e/playwright-report/index.html
  e2e/test-results/workflow-navigation-Top-Navigation-current-nam-03423--has-other-namespaces-to-search-and-navigate-to-chromium/test-failed-1.png
  e2e/test-results/workflow-navigation-Top-Navigation-current-nam-03423--has-other-namespaces-to-search-and-navigate-to-chromium/video.webm
  e2e/test-results/workflows-Workflows-list-should-render-decoded-Payloads-chromium/test-failed-1.png
  e2e/test-results/workflows-Workflows-list-should-render-decoded-Payloads-chromium/video.webm
  e2e/test-results/workflows-Workflows-list-should-render-decoded-query-results-chromium/test-failed-1.png
  e2e/test-results/workflows-Workflows-list-should-render-decoded-query-results-chromium/video.webm
  e2e/test-results/workflows-Workflows-list-should-render-decoded-stack-trace-chromium/test-failed-1.png
  e2e/test-results/workflows-Workflows-list-should-render-decoded-stack-trace-chromium/video.webm
Due: none

Add CompletedWorkflow test
  temporal/activities/double.ts
  temporal/activities/index.ts
  temporal/client.ts
  temporal/workflows.ts
  tests/e2e/stack-trace.spec.js
Due: pnpm lint:fix, prettier --write

Remote Codec Settings - UI Update (#1402)
  cypress/integration/codec-server-settings.spec.js
  package.json
  pnpm-lock.yaml
  src/lib/holocene/codec-endpoint-settings.svelte
  src/lib/holocene/data-converter-port-settings.svelte
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/holocene/data-encoder-status.svelte
  src/lib/holocene/navigation/top-nav.svelte
  src/lib/holocene/toggle-switch.svelte
  src/lib/services/data-encoder.ts
  src/lib/stores/data-encoder-config.ts
  src/lib/stores/data-encoder.ts
  src/lib/utilities/get-codec.test.ts
  src/lib/utilities/get-codec.ts
  src/routes/(app)/+layout.svelte
  tests/integration/data-encoder.spec.ts
  tests/test-utilities/mock-apis.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add RunningWorkflow test
  temporal/client.ts
  temporal/workflows.ts
  tests/e2e/stack-trace.spec.js
Due: pnpm lint:fix, prettier --write

Add stack trace error test
  tests/e2e/stack-trace.spec.js
  tests/test-utilities/mocks/query-stack-trace-error.ts
Due: pnpm lint:fix, prettier --write

Remove Cypress fixture and test
  cypress/fixtures/query-stack-trace-error.json
  cypress/integration/stack-trace.spec.js
Due: pnpm lint:fix, prettier --write

Add --mode temporal-server to npm run dev:local
  package.json
Due: prettier --write

overhaul mocks for integration tests
  package.json
  playwright.config.ts
  tests/global-setup.ts
  tests/global-teardown.ts
  tests/integration/archival-namespace.spec.ts
  tests/integration/import-event-history.spec.ts
  tests/integration/workflows-list-time-frames.spec.ts
  tests/integration/workflows-list.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/cluster.ts
  tests/test-utilities/mocks/namespace.ts
  tests/test-utilities/mocks/namespaces.ts
  tests/test-utilities/mocks/search-attributes.ts
  tests/test-utilities/mocks/settings.ts
  tests/test-utilities/mocks/workflows.ts
  tests/tsconfig.json
Due: pnpm lint:fix, prettier --write

Update ToggleButton example with additional buttons
  src/lib/holocene/toggle-button/toggle-button.story.svelte
Due: stylelint --fix

Fix hanging tests
  temporal/client.ts
Due: pnpm lint:fix, prettier --write

Update ToggleButton example with additional buttons (#1421)
  src/lib/holocene/toggle-button/toggle-button.story.svelte
Due: stylelint --fix

2.16.1
  package.json
Due: prettier --write

2.16.1 (#1422)
  package.json
Due: prettier --write

fix cy test
  cypress/integration/workflow-executions-with-new-search.spec.js
  tests/tsconfig.json
Due: pnpm lint:fix, prettier --write

Remove flex class in table-wrapper to fix misalignment when scrolling always set
  src/lib/components/workflow/workflows-summary-configurable-table/table-wrapper.svelte
Due: stylelint --fix

Better ids, use outline-visible
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/holocene/primitives/menu/menu-item.svelte
  src/lib/holocene/select/filter-select.svelte
Due: stylelint --fix

Remove flex class in table-wrapper to fix misalignment when scrolling always set (#1423)
  src/lib/components/workflow/workflows-summary-configurable-table/table-wrapper.svelte
Due: stylelint --fix

Better ids, use outline-visible (#1424)
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/holocene/primitives/menu/menu-item.svelte
  src/lib/holocene/select/filter-select.svelte
Due: stylelint --fix

Grow select for relative time labels
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
Due: stylelint --fix

Don't disable cancel button. Always allow cancel
  src/lib/holocene/data-encoder-settings.svelte
Due: stylelint --fix

Don't disable cancel button. Always allow cancel (#1425)
  src/lib/holocene/data-encoder-settings.svelte
Due: stylelint --fix

2.16.2
  package.json
Due: prettier --write

fix tests once and for all
  .env.test.e2e
  .env.test.integration
  package.json
  playwright.config.ts
  server/config/e2e.yaml
  temporal/workflows.ts
  tests/global-setup.ts
  tests/global-teardown.ts
  tests/integration/archival-namespace.spec.ts
  tests/integration/data-encoder.spec.ts
  tests/integration/import-event-history.spec.ts
  tests/integration/workflow-navigation.spec.ts
  tests/integration/workflows-list-time-frames.spec.ts
  tests/integration/workflows-list.spec.ts
  tests/storageState.json
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/cluster.ts
  tests/test-utilities/mocks/namespace.ts
  tests/test-utilities/mocks/namespaces.ts
  tests/test-utilities/mocks/search-attributes.ts
  tests/test-utilities/mocks/settings.ts
  tests/test-utilities/mocks/workflows.ts
  utilities/temporal-server.ts
  utilities/ui-server.ts
Due: pnpm lint:fix, prettier --write

2.16.2 (#1426)
  package.json
Due: prettier --write

build before e2e test
  .github/workflows/playwright.yml
Due: none

fix typo
  .github/workflows/playwright.yml
Due: none
