Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

2.17.5
  package.json
Due: prettier --write

2.17.5 (#1532)
  package.json
Due: prettier --write

Create new URLSearchparams and use goto when updating query params
  src/lib/utilities/update-query-parameters.ts
Due: pnpm lint:fix, prettier --write

Update and add tests
  src/lib/utilities/update-query-parameters.test.ts
Due: pnpm lint:fix, prettier --write

add none to common.ts
  src/lib/components/schedule/schedule-advanced-settings.svelte
  src/lib/i18n/locales/en/common.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

un cap none
  src/lib/components/schedule/schedule-advanced-settings.svelte
Due: stylelint --fix

fix my goof up and removed 'schedules' from translate
  src/lib/components/schedule/schedule-advanced-settings.svelte
Due: stylelint --fix

Dt 1183 schedule empty state (#1531)
  src/lib/components/schedule/schedule-advanced-settings.svelte
  src/lib/i18n/locales/en/common.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Fix back button on workflows detail page
  src/lib/components/event/event-category-filter.svelte
  src/lib/stores/filters.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add aria-hidden to heartbeat svg on WorkflowStatus
  src/lib/components/heart-beat-indicator.svelte
Due: stylelint --fix

add an aria label to dropdown menu button
  src/lib/components/top-nav.svelte
  src/lib/holocene/dropdown-menu.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/primitives/menu/menu-button.svelte
  src/lib/holocene/primitives/menu/menu.svelte
  src/lib/i18n/locales/en/namespaces.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Translate alt for user profile img
  src/lib/components/top-nav.svelte
  src/lib/i18n/locales/en/common.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Add aria-labelledby to loading img
  src/lib/holocene/loading.svelte
Due: stylelint --fix

Remove link and alt from logo
  src/routes/(login)/login/+page.svelte
  src/routes/(login)/signin/+page.svelte
Due: stylelint --fix

add label for split button menus
  src/lib/components/workflow-actions.svelte
  src/lib/holocene/primitives/menu/menu-divider.svelte
  src/lib/holocene/primitives/menu/menu-item.svelte
  src/lib/holocene/split-button.story.svelte
  src/lib/holocene/split-button.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedule-view.svelte
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Refactor reachability code to fetch on workflow run layout. Add warning for incompatible workers
  src/lib/components/workers-list.svelte
  src/lib/components/workflow/workflow-stack-trace-error.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/task-queue-workers.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/services/pollers-service.ts
  src/lib/stores/workflow-run.ts
  src/lib/utilities/task-queue-compatibility.test.ts
  src/lib/utilities/task-queue-compatibility.ts
  static/i18n/locales/en/workers.json
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Add title to icon and keyboard shortcut svgs
  src/lib/components/event/event-shortcut-keys.svelte
  src/lib/holocene/icon/svg/svg.svelte
  src/lib/holocene/keyboard-shortcut/arrow-down.svelte
  src/lib/holocene/keyboard-shortcut/arrow-left.svelte
  src/lib/holocene/keyboard-shortcut/arrow-right.svelte
  src/lib/holocene/keyboard-shortcut/arrow-up.svelte
  src/lib/holocene/keyboard-shortcut/shortcut.svelte
  src/lib/i18n/locales/en/common.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Fix check for non-versioned compatiblity check
  src/lib/utilities/task-queue-compatibility.test.ts
  src/lib/utilities/task-queue-compatibility.ts
Due: pnpm lint:fix, prettier --write

Update snapshots
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
Due: none

Use for holocene links
  src/lib/components/event/event-details-row.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/scheduler-table.svelte
Due: stylelint --fix

Create new URLSearchParams and use goto when updating query params (#1533)
  src/lib/components/event/event-category-filter.svelte
  src/lib/stores/filters.ts
  src/lib/utilities/update-query-parameters.test.ts
  src/lib/utilities/update-query-parameters.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add counts UI
  src/lib/components/workflow/workflow-count.svelte
  src/lib/components/workflow/workflow-counts.svelte
Due: stylelint --fix

CR feedback
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/holocene/icon/svg/svg.svelte
  src/lib/holocene/keyboard-shortcut/arrow-down.svelte
  src/lib/holocene/keyboard-shortcut/arrow-left.svelte
  src/lib/holocene/keyboard-shortcut/arrow-right.svelte
  src/lib/holocene/keyboard-shortcut/arrow-up.svelte
  src/lib/holocene/logo.svelte
Due: stylelint --fix

Finish OSS empty state
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-wrapper.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/github.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/vendor/empty-state-dark_2x.png
  src/lib/vendor/empty-state-dark_4x.png
  src/lib/vendor/empty-state-light_2x.png
  src/lib/vendor/empty-state-light_4x.png
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Remove unused import and static json files
  src/lib/layouts/workflow-run-layout.svelte
  static/i18n/locales/en/common.json
  static/i18n/locales/en/data-encoder.json
  static/i18n/locales/en/events.json
  static/i18n/locales/en/namespaces.json
  static/i18n/locales/en/schedules.json
  static/i18n/locales/en/typed-errors.json
  static/i18n/locales/en/workers.json
  static/i18n/locales/en/workflows.json
Due: prettier --write, stylelint --fix

Make responsive counts, use .some, add todo for count
  src/lib/components/workflow/workflow-count.svelte
  src/lib/components/workflow/workflow-counts.svelte
Due: stylelint --fix

Responsive gap for counts
  src/lib/components/workflow/workflow-counts.svelte
Due: stylelint --fix

Update snapshots for icons
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
Due: none

Versioning Warnings -> No Workers or Incompatible Workers (#1536)
  src/lib/components/workers-list.svelte
  src/lib/components/workflow/workflow-stack-trace-error.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/task-queue-workers.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/services/pollers-service.ts
  src/lib/stores/workflow-run.ts
  src/lib/utilities/task-queue-compatibility.test.ts
  src/lib/utilities/task-queue-compatibility.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Workflow Counts UI (not added until GroupBy API ready in Temporal v1.22) (#1538)
  src/lib/components/workflow/workflow-count.svelte
  src/lib/components/workflow/workflow-counts.svelte
Due: stylelint --fix

add new combobox - remove old namespace switcher components
  src/lib/components/namespace-list.svelte
  src/lib/components/namespace-selector.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.story.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/temporal-logo.svelte
  src/lib/i18n/locales/en/namespaces.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Alternative text for images (#1537)
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-shortcut-keys.svelte
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/top-nav.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/scheduler-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/holocene/icon/svg/svg.svelte
  src/lib/holocene/keyboard-shortcut/arrow-down.svelte
  src/lib/holocene/keyboard-shortcut/arrow-left.svelte
  src/lib/holocene/keyboard-shortcut/arrow-right.svelte
  src/lib/holocene/keyboard-shortcut/arrow-up.svelte
  src/lib/holocene/keyboard-shortcut/shortcut.svelte
  src/lib/holocene/loading.svelte
  src/lib/holocene/logo.svelte
  src/lib/i18n/locales/en/common.ts
  src/routes/(login)/login/+page.svelte
  src/routes/(login)/signin/+page.svelte
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

add missing tailwind class
  tailwind.config.cjs
Due: none

get rid of status text
  src/lib/holocene/combobox/combobox.svelte
Due: stylelint --fix

updgrade svelte-check for new generics syntax
  package.json
  pnpm-lock.yaml
  src/global.d.ts
Due: pnpm lint:fix, prettier --write

pnpm i
  pnpm-lock.yaml
Due: none

fix pw tests
  src/lib/holocene/combobox/combobox.svelte
  tests/integration/storageState.json
  tests/integration/workflow-navigation.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix other pw test
  tests/integration/workflows-list-with-advanced-visibility.spec.ts
Due: pnpm lint:fix, prettier --write

rm redundant cy test
  cypress/integration/namespaces.spec.js
Due: pnpm lint:fix, prettier --write

Move empty state to under the table with headers showing
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-wrapper.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflows-with-new-search.svelte
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  pnpm generate:locales: any of: src/lib/i18n/locales/*/*.ts
  stylelint --fix: any of: *.{css,postcss,svelte}
