Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

clean up workflow status filters
  src/lib/components/workflow/advanced-filter/status-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/models/workflow-status.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

working on retrigger
  .env
  .idea/.gitignore
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/temporal-ui.iml
  .idea/vcs.xml
  package-lock.json
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Due: prettier --write, stylelint --fix

bit better typing on workflow status filters
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/advanced-filter/status-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/models/workflow-status.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

remove type
  src/lib/components/workflow-status.svelte
Due: stylelint --fix

fix types
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/child-workflows-table.svelte
Due: stylelint --fix

Update Unspecified error copy
  src/lib/components/workflow/workflow-typed-error.svelte
Due: stylelint --fix

Update pnpm
  pnpm-lock.yaml
Due: none

Add check for gs:// for archival
  pnpm-lock.yaml
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/+page.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Bump to v8 for pnpm in gh actions
  .github/actions/checkout-and-setup/action.yml
Due: none

Bump pnpm v8 in integration test gha
  .github/workflows/integration-tests.yml
Due: none

Set engines in package.json
  package.json
Due: prettier --write

Update e2e pnpm-lock
  e2e/pnpm-lock.yaml
Due: none

Update Unspecified error copy (#1393)
  src/lib/components/workflow/workflow-typed-error.svelte
Due: stylelint --fix

make All filter first
  src/lib/models/workflow-status.ts
Due: pnpm lint:fix, prettier --write

update pnpm lock
  pnpm-lock.yaml
Due: none

Add check for gs:// for archival workflow querying (#1394)
  .github/actions/checkout-and-setup/action.yml
  .github/workflows/integration-tests.yml
  e2e/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/+page.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Remove mt-2 to the top-nav avatar
  src/lib/holocene/navigation/top-nav.svelte
Due: stylelint --fix

separate temporal server and ui server vite plugins
  package.json
  plugins/vite-plugin-i18n-locales.ts
  plugins/vite-plugin-temporal-server.ts
  plugins/vite-plugin-ui-server.ts
  scripts/generate-locales.ts
  vite.config.ts
Due: pnpm lint:fix, prettier --write

skip only for ui-server
  plugins/vite-plugin-temporal-server.ts
Due: pnpm lint:fix, prettier --write

Update timelineEventTypes
  src/lib/models/event-history/get-event-categorization.ts
Due: pnpm lint:fix, prettier --write

Remove mt-2 to the top-nav avatar (#1395)
  src/lib/holocene/navigation/top-nav.svelte
Due: stylelint --fix

Update clearing filter logic
  src/lib/components/event/event-category-filter.svelte
Due: stylelint --fix

implemented retrigger functionality
  src/lib/layouts/workflow-header.svelte
  src/lib/services/workflow-service.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Fix unit test
  src/lib/models/event-history/get-event-categorization.test.ts
Due: pnpm lint:fix, prettier --write

[DT-6] Add Local Activity to event history filter (#1390)
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Fix extra space if there is no user defined reason
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
Due: stylelint --fix

Add Web UI reason to terminate and reset on workflow
  src/lib/components/workflow-actions.svelte
  src/lib/i18n/index.ts
  src/lib/i18n/locales/en/workflow.ts
  static/i18n/locales/en/workflow.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

WIP: add configuration settings
  src/lib/holocene/codec-endpoint-settings.svelte
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/holocene/data-encoder-status.svelte
  src/lib/holocene/toggle-switch.svelte
  src/lib/services/settings-service.ts
  src/lib/stores/data-encoder.ts
  src/routes/(app)/+layout.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Move archival cypress tests to playwright
  cypress/integration/namespaces-archival.spec.js
  tests/archival-namespace.spec.ts
  tests/test-utilities/mock-apis.ts
Due: pnpm lint:fix, prettier --write

move stuff around
  package.json
  temporal-fixtures/activities/echo.ts
  temporal-fixtures/activities/index.ts
  temporal-fixtures/activities/side-effect.ts
  temporal-fixtures/client.ts
  temporal-fixtures/codec-server.ts
  temporal-fixtures/starter.ts
  temporal-fixtures/workers.ts
  temporal-fixtures/workflows.ts
  tests/e2e/workflow-navigation.spec.ts
  tests/e2e/workflows.spec.ts
  tests/global-setup.ts
  tests/integration/import-event-history.spec.ts
  tests/integration/workflows-list-time-frames.spec.ts
  tests/integration/workflows-list.spec.ts
  tests/temporal-fixtures/activities.ts
  tests/temporal-fixtures/client.ts
  tests/temporal-fixtures/workflows.ts
  tests/tsconfig.json
  tsconfig.json
Due: pnpm lint:fix, prettier --write

Add identity to terminate workflow
  src/lib/components/workflow-actions.svelte
  src/lib/services/workflow-service.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

WIP of relative durations
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/utilities/query/to-list-workflow-filters-from-relative-time.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Remove authorization header forwarding
  server/server/server.go
Due: none

Add pathForApi util
  src/lib/utilities/route-for-api.ts
Due: pnpm lint:fix, prettier --write

Add optional url in fetchWorkflowForRunId
  src/lib/services/workflow-service.ts
Due: pnpm lint:fix, prettier --write

Remove workflow and use workflows namespace instead
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/i18n/index.ts
  src/lib/i18n/locales/en/workflow.ts
  src/lib/i18n/locales/en/workflows.ts
  static/i18n/locales/en/workflow.json
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Use Card for configuation settings
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/holocene/data-encoder-status.svelte
  src/lib/holocene/navigation/top-nav.svelte
  src/lib/services/settings-service.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

reorganize scripts vs. utils
  .env.test.e2e
  .env.test.integration
  package.json
  plugins/vite-plugin-i18n-locales.ts
  plugins/vite-plugin-temporal-server.ts
  plugins/vite-plugin-ui-server.ts
  pnpm-lock.yaml
  scripts/generate-locales.ts
  scripts/start-codec-server.ts
  scripts/start-temporal-server.ts
  scripts/start-ui-server.ts
  scripts/workflows.ts
  src/lib/utilities/decode-payload.ts
  temporal-fixtures/activities/index.ts
  temporal-fixtures/codec-server.ts
  temporal/activities/echo.ts
  temporal/activities/index.ts
  temporal/activities/side-effect.ts
  temporal/client.ts
  temporal/codec-server.ts
  temporal/data-converter.ts
  temporal/workers.ts
  temporal/workflows.ts
  tests/e2e/workflow-navigation.spec.ts
  tests/global-setup.ts
  tests/global-teardown.ts
  tests/integration/import-event-history.spec.ts
  tests/integration/workflows-list-time-frames.spec.ts
  tests/integration/workflows-list.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mock-date.ts
  tests/test-utilities/mock-local-storage.ts
  tests/test-utilities/mocks/cluster.ts
  tests/tsconfig.json
  tsconfig.json
  utilities/generate-locales.ts
  utilities/temporal-server.ts
  utilities/ui-server.ts
Due: pnpm lint:fix, prettier --write

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  pnpm generate:locales: any of: src/lib/i18n/locales/*/*.ts
  stylelint --fix: any of: *.{css,postcss,svelte}
