Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

2.16.3
  package.json
Due: prettier --write

remove timeout, skip stack trace tests
  tests/e2e/stack-trace.spec.ts
  tests/global-setup.ts
Due: pnpm lint:fix, prettier --write

2.16.3 (#1432)
  package.json
Due: prettier --write

Update snapshots
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Due: none

Change from settings to setting
  src/lib/holocene/data-encoder-settings.svelte
  tests/integration/data-encoder.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Update tests
  tests/integration/data-encoder.spec.ts
Due: pnpm lint:fix, prettier --write

Final word change
  src/lib/holocene/data-encoder-settings.svelte
Due: stylelint --fix

Change ignores to ignore
  src/lib/holocene/data-encoder-settings.svelte
  tests/integration/data-encoder.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Change verbiage in Codec Server from settings to setting (#1433)
  src/lib/holocene/data-encoder-settings.svelte
  tests/integration/data-encoder.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

2.16.4
  package.json
Due: prettier --write

2.16.4 (#1434)
  package.json
Due: prettier --write

The final letter S
  src/lib/holocene/data-encoder-settings.svelte
Due: stylelint --fix

add testing info to README
  README.md
Due: prettier --write

fix typo
  README.md
Due: prettier --write

Add check for statusCode instead of network error
  src/lib/holocene/error.svelte
Due: stylelint --fix

The final letter S (#1435)
  src/lib/holocene/data-encoder-settings.svelte
Due: stylelint --fix

Start to simplify, move labsGuard to components level and not pages
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/components/event/event-history-timeline-container.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/eventV2/event-summary-timeline.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/event-timeline-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/labs-mode-guard.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/event-history/index.ts
  src/lib/models/workflow-execution.ts
  src/lib/pages/import-events-view.svelte
  src/lib/pages/workflow-history-compact.svelte
  src/lib/stores/events.ts
  src/lib/types/events.ts
  src/lib/types/workflows.ts
  src/lib/vendor/prism/prism.css
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compactV2/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Unit tests for data-encoder and import events
  src/lib/stores/data-encoder.test.ts
  src/lib/stores/data-encoder.ts
  src/lib/stores/import-events.test.ts
Due: pnpm lint:fix, prettier --write

Add check for statusCode instead of network error (#1436)
  src/lib/holocene/error.svelte
Due: stylelint --fix

Remove unused imports
  src/lib/stores/data-encoder.test.ts
Due: pnpm lint:fix, prettier --write

Consolidate npm commands, catch search attributes error
  README.md
  package.json
  playwright.config.ts
  plugins/vite-plugin-temporal-server.ts
  plugins/vite-plugin-ui-server.ts
  src/lib/services/search-attributes-service.ts
  vite.config.ts
Due: pnpm lint:fix, prettier --write

Unit tests for data-encoder and import events (#1437)
  src/lib/stores/data-encoder.test.ts
  src/lib/stores/data-encoder.ts
  src/lib/stores/import-events.test.ts
Due: pnpm lint:fix, prettier --write

fix new cmds
  README.md
Due: prettier --write

rm temporal server and ui server from test setup
  tests/global-setup.ts
  tests/global-teardown.ts
Due: pnpm lint:fix, prettier --write

skip plugins for test mode
  plugins/vite-plugin-temporal-server.ts
  plugins/vite-plugin-ui-server.ts
  tests/global-setup.ts
  tests/global-teardown.ts
Due: pnpm lint:fix, prettier --write

Update serve:cypress to --mode test.cypress
  package.json
Due: prettier --write

Add preview port to vite.config
  vite.config.ts
Due: pnpm lint:fix, prettier --write

Consolidate and simplify npm commands, catch search attributes error (#1438)
  README.md
  package.json
  playwright.config.ts
  plugins/vite-plugin-temporal-server.ts
  plugins/vite-plugin-ui-server.ts
  src/lib/services/search-attributes-service.ts
  vite.config.ts
Due: pnpm lint:fix, prettier --write

update ui server version to v2.16.0 (#1408)
  server/server/version/version.go
Due: none

Update base images
  server/Dockerfile
Due: none

Update base images (#1440)
  server/Dockerfile
Due: none

Bump to 2.16.1
  server/server/version/version.go
Due: none

Bump to 2.16.1 (#1441)
  server/server/version/version.go
Due: none

add i18n strings to workflow details history page
  src/lib/components/auto-refresh-workflow.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/components/workflow/scheduler-table.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/components/workflow/workflow-reset-form.svelte
  src/lib/components/workflow/workflow-stack-trace-error.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/i18n/index.ts
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  static/i18n/locales/en/common.json
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

i18n for strongly typed errors
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/i18n/index.ts
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/typed-errors.ts
  static/i18n/locales/en/common.json
  static/i18n/locales/en/typed-errors.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Add HideWorkflowQueryErrors env var
  server/config/development.yaml
  server/docker/config-template.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/services/settings-service.ts
  src/lib/stores/workflows.ts
  src/lib/types/index.ts
Due: pnpm lint:fix, prettier --write

Add timeline with labs guard
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/components/event/event-history-timeline-container.svelte
  src/lib/components/event/event-history-timeline.svelte
  src/lib/holocene/labs-mode-guard.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/stores/labs-mode.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Fix update eventType
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/utilities/is-event-type.ts
Due: pnpm lint:fix, prettier --write

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  pnpm generate:locales: any of: src/lib/i18n/locales/*/*.ts
  stylelint --fix: any of: *.{css,postcss,svelte}
