Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

pr feedback
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/top-nav.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/filter-search/conditional-menu.svelte
  src/lib/components/workflow/filter-search/status-filter.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
Due: stylelint --fix

fix focus state and borders
  src/lib/components/workflow/filter-search/conditional-menu.svelte
  src/lib/holocene/menu/menu-button.svelte
Due: stylelint --fix

fix datepicker overflow
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/holocene/input/input.svelte
Due: stylelint --fix

remove truncate
  src/lib/holocene/combobox/combobox.svelte
Due: stylelint --fix

add size to namespace switcher and min-w-max to menu-items
  src/lib/components/top-nav.svelte
  src/lib/holocene/menu/menu-item.svelte
Due: stylelint --fix

update snaps
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
Due: none

fix some padding and position on datetime filters and status filter
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/holocene/date-picker.svelte
Due: stylelint --fix

add gap to menu-item
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/filter-search/status-filter.svelte
  src/lib/holocene/menu/menu-item.svelte
Due: stylelint --fix

remove "controlled" combobox stuff for now
  src/lib/holocene/combobox/combobox.story.svelte
  src/lib/holocene/combobox/combobox.svelte
Due: stylelint --fix

snaps
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
Due: none

add break-all to menu-items
  src/lib/holocene/menu/menu-item.svelte
Due: stylelint --fix

break-all for combobox options only
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/menu/menu-item.svelte
Due: stylelint --fix

snaps again
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
Due: none

Change script name
  package.json
Due: prettier --write

Remove Babel dependency
  .babelrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

Create semgrep.yml (#1514)
  .github/workflows/semgrep.yml
Due: none

Add catch to fetchSchedule and conditional check on schedule everywhere
  src/lib/pages/schedule-view.svelte
Due: stylelint --fix

Remove import
  src/lib/pages/schedule-view.svelte
Due: stylelint --fix

Address last remaining issues
  src/lib/components/workflow/filter-search/index.svelte
  src/routes/+error.svelte
Due: stylelint --fix

Add catch for fetchSchedule and undefined check (#1565)
  src/lib/pages/schedule-view.svelte
Due: stylelint --fix

combobox and timezone select fixes
  src/lib/components/timezone-select.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-button.svelte
Due: stylelint --fix

fallback to empty string after value
  src/lib/holocene/combobox/combobox.svelte
Due: stylelint --fix

Update Pending Activities link
  src/lib/components/workflow/pending-activities.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Add missing translations
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedules.svelte
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Fix Namespace name overflow on Alert
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: stylelint --fix

move namespace switcher to left in nav
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
Due: stylelint --fix

position tz select right
  src/lib/components/timezone-select.svelte
  src/lib/components/top-nav.svelte
Due: stylelint --fix

get rid of position and add minSize as prop
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
Due: stylelint --fix

combobox and timezone select fixes (#1567)
  src/lib/components/timezone-select.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-button.svelte
Due: stylelint --fix

Add util to getLocalTime
  src/lib/components/timezone-select.svelte
  src/lib/utilities/format-date.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add local timezone to datetime filters
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/i18n/locales/en/common.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Add UTC timezone note to schedules time
  src/lib/components/schedule/schedules-time-view.svelte
Due: stylelint --fix

2.17.11
  package.json
Due: prettier --write

Descriptive link and various fixes (#1568)
  src/lib/components/workflow/pending-activities.svelte
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedules.svelte
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Use MenuItem component
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
Due: stylelint --fix

remove some custom css and use menu item defaults
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
Due: stylelint --fix

config: allow multiple cors origins
  server/docker/config-template.yaml
Due: none

Update Modal component with open and error props (#1557)
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  pnpm generate:locales: any of: src/lib/i18n/locales/*/*.ts
  stylelint --fix: any of: *.{css,postcss,svelte}
