Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Remove timezone for cron schedule comment in UI (#1519)
  src/lib/utilities/schedule-frequency-formatting.test.ts
  src/lib/utilities/schedule-frequency-formatting.ts
Due: pnpm lint:fix, prettier --write

Error handling for workers-list page
  src/app.css
  src/lib/components/workers-list.svelte
  src/lib/pages/task-queue-workers.svelte
Due: stylelint --fix

Add check for versioning on pollers
  cypress/fixtures/compatibility.json
  cypress/fixtures/settings.json
  cypress/support/commands.js
  src/lib/pages/task-queue-workers.svelte
  utilities/temporal-server.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Versioning UI (#1491)
  cypress/fixtures/compatibility.json
  cypress/fixtures/settings.json
  cypress/support/commands.js
  package.json
  pnpm-lock.yaml
  server/proto/api/temporal/api/workflowservice/v1/service.proto
  src/app.css
  src/lib/components/workers-list.svelte
  src/lib/holocene/compatibility-badge.svelte
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/merge.svelte
  src/lib/i18n/index.ts
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workers.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/workflow-execution.ts
  src/lib/pages/task-queue-workers.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/services/pollers-service.ts
  src/lib/stores/workflow-run.ts
  src/lib/types/api.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/task-queue-compatibility.test.ts
  src/lib/utilities/task-queue-compatibility.ts
  src/lib/vendor/css/fonts/NotoSansMono/NotoSansMono-VariableFont_wdth,wght.ttf
  static/i18n/locales/en/common.json
  static/i18n/locales/en/workers.json
  utilities/temporal-server.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Preserve datetime value on search (#1518)
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Due: pnpm lint:fix, prettier --write

get rid of http backend and JSON files for i18n
  package.json
  plugins/vite-plugin-i18n-locales.ts
  scripts/generate-locales.ts
  src/lib/i18n/generate-locales.ts
  src/routes/+layout.ts
  static/i18n/locales/en/common.json
  static/i18n/locales/en/data-encoder.json
  static/i18n/locales/en/events.json
  static/i18n/locales/en/namespaces.json
  static/i18n/locales/en/schedules.json
  static/i18n/locales/en/typed-errors.json
  static/i18n/locales/en/workflows.json
  vite.config.ts
Due: pnpm lint:fix, prettier --write

remove unnecessary namespace
  src/routes/+layout.ts
Due: pnpm lint:fix, prettier --write

Bump to 2.17.1
  server/server/version/version.go
Due: none

add barrel exports, get rid of import.meta.glob
  src/lib/i18n/index.ts
  src/lib/i18n/locales/en/index.ts
  src/lib/i18n/locales/index.ts
  src/routes/+layout.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales

Bump to 2.17.1 (#1524)
  server/server/version/version.go
Due: none

clean up
  pnpm-lock.yaml
  src/lib/i18n/index.ts
  static/i18n/locales/en/workers.json
Due: pnpm lint:fix, prettier --write

2.17.4
  package.json
Due: prettier --write

2.17.4 (#1526)
  package.json
Due: prettier --write

use min-w-fit on toggle switch for smaller screens
  src/lib/holocene/toggle-switch.svelte
Due: stylelint --fix

cleanup css
  src/lib/holocene/toggle-switch.svelte
  tailwind.config.cjs
Due: stylelint --fix

fix snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
Due: none

cleanup tests
  package.json
  pnpm-lock.yaml
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/event-history/__snapshots__/get-event-categorization.test.ts.snap
  vitest-setup.ts
Due: pnpm lint:fix, prettier --write

add hover state to checked toggle switch
  src/lib/holocene/toggle-switch.svelte
Due: stylelint --fix

DT-1230 - toggle button a11y (#1520)
  src/lib/components/auto-refresh-workflow.svelte
  src/lib/components/codec-endpoint-settings.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/holocene/toggle-switch.story.svelte
  src/lib/holocene/toggle-switch.svelte
  src/lib/pages/workflow-history-json.svelte
  src/lib/pages/workflow-query.svelte
  tailwind.config.cjs
Due: stylelint --fix

stopping point
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/holocene/pagination.svelte
Due: stylelint --fix

Translate select-namespace
  src/lib/i18n/locales/en/namespaces.ts
  src/routes/(app)/select-namespace/+page.svelte
  static/i18n/locales/en/namespaces.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

pr feedback
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/holocene/table/paginated-table.svelte
Due: stylelint --fix

Translate archival
  src/lib/components/search.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_filter-input.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_workflow-filters.svelte
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Translate ImportEvents
  src/lib/components/import/event-history-file-import.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/pages/import-events-view.svelte
  src/lib/pages/import-events.svelte
  static/i18n/locales/en/events.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Translate aria-labels for Pagination buttons
  src/lib/components/event/event-summary.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/pagination.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/schedules.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/pages/workflows.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
  src/routes/(app)/namespaces/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
  static/i18n/locales/en/common.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Translate banners
  src/lib/components/banner/banner-temporal-version.svelte
  src/lib/components/banner/banner-ui-version.svelte
  src/lib/i18n/locales/en/common.ts
  static/i18n/locales/en/common.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Additional i18n translations (#1528)
  src/lib/components/banner/banner-temporal-version.svelte
  src/lib/components/banner/banner-ui-version.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/lib/components/search.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/pagination.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/events.ts
  src/lib/i18n/locales/en/namespaces.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/import-events-view.svelte
  src/lib/pages/import-events.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/pages/workflows.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
  src/routes/(app)/namespaces/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_filter-input.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_workflow-filters.svelte
  src/routes/(app)/select-namespace/+page.svelte
  static/i18n/locales/en/common.json
  static/i18n/locales/en/events.json
  static/i18n/locales/en/namespaces.json
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

update snapshot
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
Due: none

Parse BETWEEN datetime filter in toListWorkflowFilters
  src/lib/utilities/query/to-list-workflow-filters.ts
Due: pnpm lint:fix, prettier --write

Add unit tests
  src/lib/utilities/query/to-list-workflow-filters.test.ts
Due: pnpm lint:fix, prettier --write

Parse custom datetime in toListWorkflowFilters (#1529)
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Due: pnpm lint:fix, prettier --write

Add itemsKeyname for api-pagination (#1512)
  src/lib/holocene/api-pagination.svelte
Due: stylelint --fix

stop
  src/lib/holocene/pagination.svelte
Due: stylelint --fix

defaul empty state to None
  src/lib/components/schedule/schedule-advanced-settings.svelte
Due: stylelint --fix

Refactor i18n to remove the need for JSON files (#1523)
  package.json
  plugins/vite-plugin-i18n-locales.ts
  pnpm-lock.yaml
  scripts/generate-locales.ts
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/i18n/generate-locales.ts
  src/lib/i18n/index.ts
  src/lib/i18n/locales/en/index.ts
  src/lib/i18n/locales/index.ts
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/event-history/__snapshots__/get-event-categorization.test.ts.snap
  src/routes/+layout.ts
  static/i18n/locales/en/common.json
  static/i18n/locales/en/data-encoder.json
  static/i18n/locales/en/events.json
  static/i18n/locales/en/namespaces.json
  static/i18n/locales/en/schedules.json
  static/i18n/locales/en/typed-errors.json
  static/i18n/locales/en/workers.json
  static/i18n/locales/en/workflows.json
  vite.config.ts
  vitest-setup.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales

conditionally render remaining actions
  src/lib/components/schedule/schedule-advanced-settings.svelte
Due: stylelint --fix

bump UI server version to 2.17.2
  server/server/version/version.go
Due: none

add limited actions conditional
  src/lib/components/schedule/schedule-advanced-settings.svelte
Due: stylelint --fix

bump UI server version to 2.17.2 (#1530)
  server/server/version/version.go
Due: none

Add max version sets warning
  src/lib/i18n/locales/en/workers.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/utilities/task-queue-compatibility.ts
  static/i18n/locales/en/common.json
  static/i18n/locales/en/data-encoder.json
  static/i18n/locales/en/events.json
  static/i18n/locales/en/namespaces.json
  static/i18n/locales/en/schedules.json
  static/i18n/locales/en/typed-errors.json
  static/i18n/locales/en/workers.json
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  pnpm generate:locales: any of: src/lib/i18n/locales/*/*.ts
  stylelint --fix: any of: *.{css,postcss,svelte}
