Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["pnpm lint:fix", "prettier --write"],
  "src/lib/i18n/locales/*/*.ts": "pnpm generate:locales",
  "*.{css,postcss,svelte}": "stylelint --fix",
  "*.{json,md}": "prettier --write"
}

Fix icon button
  src/lib/holocene/icon-button.svelte
Due: stylelint --fix

Fix Timeline history sort and Icon Button height issue (#1503)
  src/lib/components/event/event-history-timeline.svelte
  src/lib/holocene/icon-button.svelte
Due: stylelint --fix

More precise heartbeat timeout (#1502)
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/lib/utilities/format-date.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

2.17.1
  package.json
Due: prettier --write

2.17.1 (#1504)
  package.json
Due: prettier --write

Add check for elapsedTime, fix font for Inter SemiBold
  src/app.css
  src/lib/components/event/event-summary-row.svelte
Due: stylelint --fix

Add UTC time to last heartbeat time
  src/lib/components/workflow/pending-activities.svelte
  src/lib/pages/workflow-pending-activities.svelte
Due: stylelint --fix

Add UTC time to last heartbeat time (#1505)
  src/lib/components/workflow/pending-activities.svelte
  src/lib/pages/workflow-pending-activities.svelte
Due: stylelint --fix

Improved Elapsed Time & Duration (#1501)
  src/app.css
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/format-time.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
  static/i18n/locales/en/events.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

2.17.2
  package.json
Due: prettier --write

2.17.2 (#1506)
  package.json
Due: prettier --write

fix rimraf import
  src/lib/i18n/generate-locales.ts
Due: pnpm lint:fix, prettier --write

update rimraf and use named async export
  package.json
  pnpm-lock.yaml
  scripts/download-temporal.ts
  src/lib/i18n/generate-locales.ts
Due: pnpm lint:fix, prettier --write

add icon titles to copy buttons
  src/lib/components/copyable.svelte
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/namespace-selector.svelte
  src/lib/components/side-nav.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/scheduler-table.svelte
  src/lib/components/workflow/workflow-advanced-filters.svelte
  src/lib/components/workflow/workflow-detail.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-row.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/navigation/nav-tooltip.svelte
  src/lib/holocene/tooltip.story.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/layouts/workflow-header.svelte
  static/i18n/locales/en/common.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

better labels in filter-search components
  src/lib/components/workflow/filter-search/list-filter.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
Due: stylelint --fix

support resetting closed workflows
  src/lib/components/workflow-actions.svelte
  src/lib/layouts/workflow-header.svelte
Due: stylelint --fix

Add aria-label to all Tables
  src/lib/components/event/event-group-details.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/schedule/schedules-table.svelte
  src/lib/components/workers-list.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/scheduler-table.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflow-pending-activities.svelte
  src/routes/(app)/namespaces/+page.svelte
  static/i18n/locales/en/events.json
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Add aria-label to Tables and translate Namespace details page
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/namespaces.ts
  src/routes/(app)/namespaces/[namespace]/+page.svelte
  static/i18n/locales/en/common.json
  static/i18n/locales/en/namespaces.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Fix font-style
  src/app.css
Due: stylelint --fix

Remove h6 from WorkflowStatus
  src/lib/components/workflow-status.svelte
Due: stylelint --fix

simplify cy selectors
  cypress/integration/workflow-actions.spec.js
Due: pnpm lint:fix, prettier --write

use default export
  scripts/download-temporal.ts
  src/lib/i18n/generate-locales.ts
Due: pnpm lint:fix, prettier --write

downgrade rimraf to v4.3.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

update and fix rimraf (#1507)
  package.json
  pnpm-lock.yaml
  scripts/download-temporal.ts
  src/lib/i18n/generate-locales.ts
Due: pnpm lint:fix, prettier --write

2.17.3
  package.json
Due: prettier --write

2.17.3 (#1510)
  package.json
Due: prettier --write

Add aria-label to encoder button
  src/lib/components/data-encoder-status.svelte
Due: stylelint --fix

fix tooltip position and width
  src/lib/components/workflow-actions.svelte
Due: stylelint --fix

only show reset tooltip when not allowed
  src/lib/components/workflow-actions.svelte
Due: stylelint --fix

DT-1084 - support resetting closed workflows (#1509)
  cypress/integration/workflow-actions.spec.js
  src/lib/components/workflow-actions.svelte
  src/lib/layouts/workflow-header.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Translate aria-labels, etc
  src/lib/components/event/event-summary.svelte
  src/lib/components/side-nav.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/components/workflow/workflows-summary-row.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/namespaces.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/pages/workflows.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
  src/routes/(app)/namespaces/+page.svelte
  static/i18n/locales/en/common.json
  static/i18n/locales/en/namespaces.json
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Use caption instead of aria-label for Table components
  src/lib/components/event/event-group-details.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/schedule/schedules-table.svelte
  src/lib/components/workers-list.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/scheduler-table.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/components/workflow/workflows-summary-table.svelte
  src/lib/holocene/table/table.story.svelte
  src/lib/holocene/table/table.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/routes/(app)/namespaces/+page.svelte
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Due: stylelint --fix

bump ui server version to 2.17.0
  server/server/version/version.go
Due: none

Add itemsKeyname for api-pagination
  src/lib/holocene/api-pagination.svelte
Due: stylelint --fix

String literal type
  src/lib/holocene/api-pagination.svelte
Due: stylelint --fix

Add prop to types
  src/lib/holocene/api-pagination.svelte
Due: stylelint --fix

bump ui server version to 2.17.0 (#1511)
  server/server/version/version.go
Due: none

Remove string type
  src/lib/holocene/api-pagination.svelte
Due: stylelint --fix

Add sr-only version text to primary nav
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/i18n/locales/en/common.ts
  static/i18n/locales/en/common.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix
