Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Fix flash of button on Schedules page
  src/lib/pages/schedules.svelte
Due: stylelint --fix

Scroll back to top after navigating
  src/routes/(app)/+layout.svelte
Due: stylelint --fix

Add three selfhosted fonts
  src/app.css
  src/histoire.css
  src/lib/vendor/css/fonts/Inter/Inter-Black.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Bold.ttf
  src/lib/vendor/css/fonts/Inter/Inter-ExtraBold.ttf
  src/lib/vendor/css/fonts/Inter/Inter-ExtraLight.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Light.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Medium.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Regular.ttf
  src/lib/vendor/css/fonts/Inter/Inter-SemiBold.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Thin.ttf
  src/lib/vendor/css/fonts/Inter/Inter-VariableFont_slnt,wght.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Black.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Bold.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-ExtraBold.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-ExtraLight.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Light.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Medium.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Regular.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-SemiBold.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Thin.ttf
Due: stylelint --fix

fix some styling
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

fix integration test
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  tests/integration/workflows-list-with-advanced-visibility.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix workflow table tests
  tests/e2e/workflows-summary-table-configuration.spec.ts
Due: pnpm lint:fix, prettier --write

update snaps
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
Due: none

Add WorkflowsFilterSearch component
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/filter-search/conditional-menu.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/number-filter.svelte
  src/lib/components/workflow/filter-search/status-filter.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/chip.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/pagination.svelte
  src/lib/holocene/primitives/menu/menu-item.svelte
  src/lib/holocene/primitives/menu/menu.svelte
  src/lib/types/workflows.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add to labsMode
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-cell.svelte
  src/lib/holocene/labs-mode-guard.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

Add autocomplete search for filter
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/holocene/input/input.svelte
Due: stylelint --fix

Add label to text area
  src/lib/holocene/textarea.story.svelte
  src/lib/holocene/textarea.svelte
Due: stylelint --fix

Add required to story
  src/lib/holocene/textarea.story.svelte
Due: stylelint --fix

Update ui-server.ts
  utilities/ui-server.ts
Due: pnpm lint:fix, prettier --write

Add label to text area (#1467)
  src/lib/holocene/textarea.story.svelte
  src/lib/holocene/textarea.svelte
Due: stylelint --fix

Address additional warnings
  .eslintrc.cjs
  tests/accessibility/with-schedules.accessibility.spec.ts
  tests/accessibility/with-workflows.accessibility.spec.ts
  tests/e2e/stack-trace.spec.ts
  tests/e2e/workflows-summary-table-configuration.spec.ts
  tests/global-setup.ts
Due: pnpm lint:fix, prettier --write

Check on filter of columns
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
Due: stylelint --fix

Check on filter of columns (#1469)
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
Due: stylelint --fix

Create analyze-holocene.ts
  scripts/analyze-holocene.ts
Due: pnpm lint:fix, prettier --write

Create a script
  package.json
  scripts/generate-holocene-props.ts
  src/lib/holocene/holocene-components.json
Due: pnpm lint:fix, prettier --write

Better check for namespace columns
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
Due: stylelint --fix

Better check for namespace columns (#1471)
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
Due: stylelint --fix

Run lint
  src/app.css
  src/histoire.css
Due: stylelint --fix

[DT-1179] UI fixes (#1466)
  src/app.css
  src/lib/pages/schedules.svelte
  src/routes/(app)/+layout.svelte
Due: stylelint --fix

2.16.8
  package.json
Due: prettier --write

Bump to 2.16.8
  package.json
Due: prettier --write

More checks on the namespace
  package.json
  src/lib/components/workflow/workflows-summary-configurable-table/orderable-list.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Bump to 2.16.8 (#1473)
  package.json
Due: prettier --write

Add checks in the workflowTableColumns store
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write

Remove unnecessary ?. check
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write

More checks on the namespace workflow columns (#1474)
  package.json
  src/lib/components/workflow/workflows-summary-configurable-table/orderable-list.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add versioning on temporal server start
  utilities/temporal-server.ts
Due: pnpm lint:fix, prettier --write

Add light and semibold as well
  src/app.css
  src/histoire.css
Due: stylelint --fix

Self host fonts (#1472)
  src/app.css
  src/histoire.css
  src/lib/vendor/css/fonts/Inter/Inter-Black.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Bold.ttf
  src/lib/vendor/css/fonts/Inter/Inter-ExtraBold.ttf
  src/lib/vendor/css/fonts/Inter/Inter-ExtraLight.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Light.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Medium.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Regular.ttf
  src/lib/vendor/css/fonts/Inter/Inter-SemiBold.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Thin.ttf
  src/lib/vendor/css/fonts/Inter/Inter-VariableFont_slnt,wght.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Black.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Bold.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-ExtraBold.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-ExtraLight.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Light.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Medium.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Regular.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-SemiBold.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Thin.ttf
Due: stylelint --fix

Map default columns to the namespace column store
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Export default columns and use it if there's no namespace key
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Use totalColumnCount for check of No column headers are in view, default to default columns in old store check
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add new compatibility route with table. WIP
  server/proto/api/temporal/api/workflowservice/v1/service.proto
  src/lib/components/workers-list.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/services/pollers-service.ts
  src/lib/stores/workflow-run.ts
  src/lib/types/api.ts
  src/lib/types/index.ts
  src/lib/utilities/route-for-api.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  pnpm generate:locales: any of: src/lib/i18n/locales/*/*.ts
  stylelint --fix: any of: *.{css,postcss,svelte}
