Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

update ui server version to v2.16.0
  server/server/version/version.go
Due: none

Don't add startTime query if relative time exists. Disable time filter if relative time. Add unit tests
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/workflows.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters-from-relative-time.test.ts
  src/lib/utilities/query/to-list-workflow-filters-from-relative-time.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Better disabled check
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
Due: stylelint --fix

Fix disabled class
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
Due: stylelint --fix

Add go.work file to root
  go.work
Due: none

change go version to 1.18
  go.work
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS (#1411)
  .github/CODEOWNERS
Due: none

Add initial test for accessibility
  package.json
  pnpm-lock.yaml
  tests/accessibility/workflow-list.accessibility.spec.ts
Due: pnpm lint:fix, prettier --write

Add tests for namespaces and namespace pages
  tests/accessibility/namespace.accessibility.spec.ts
  tests/accessibility/namespaces.accessibility.spec.ts
Due: pnpm lint:fix, prettier --write

Fix issue with duplicate ids in modals
  src/lib/components/workflow-actions.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/modal.svelte
Due: stylelint --fix

Add more IDs
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/pages/schedule-view.svelte
Due: stylelint --fix

don't return from hmr update hook
  plugins/vite-plugin-i18n-locales.ts
Due: pnpm lint:fix, prettier --write

add operator RPC service with ListSearchAttributes
  server/go.mod
  server/go.sum
  server/openapi/assets/swagger-initializer.js
  server/proto/api/temporal/api/operatorservice/v1/service.proto
  server/server/api/handler.go
  src/lib/services/search-attributes-service.ts
  src/lib/stores/search-attributes.ts
  src/lib/types/api.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/route-for-api.ts
  src/routes/(app)/+layout.ts
  src/routes/(app)/namespaces/[namespace]/+layout.ts
Due: pnpm lint:fix, prettier --write

fix tests
  src/lib/stores/search-attributes.test.ts
Due: pnpm lint:fix, prettier --write

fix cy mocks
  cypress/fixtures/search-attributes.json
  cypress/support/commands.js
Due: pnpm lint:fix, prettier --write

don't return from hmr update hook (#1413)
  plugins/vite-plugin-i18n-locales.ts
Due: pnpm lint:fix, prettier --write

rm unused imports
  src/lib/services/search-attributes-service.ts
  src/lib/stores/search-attributes.test.ts
  src/lib/stores/search-attributes.ts
Due: pnpm lint:fix, prettier --write

Update batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
Due: stylelint --fix

Change back action text on cancel modal to confirm
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Disable cancellation buttton if there are no running workflows selected
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
Due: stylelint --fix

Add unit tests, need to figure out boolean logic, but almost there
  plugins/vite-plugin-i18n-locales.ts
  src/lib/holocene/codec-endpoint-settings.svelte
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/holocene/data-encoder-status.svelte
  src/lib/holocene/navigation/top-nav.svelte
  src/lib/stores/data-encoder-config.ts
  src/lib/stores/data-encoder.ts
  src/lib/utilities/get-codec.test.ts
  src/lib/utilities/get-codec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Skip final test
  src/lib/utilities/get-codec.test.ts
Due: pnpm lint:fix, prettier --write

Add accessibility tests
  package.json
  pnpm-lock.yaml
  tests/accessibility/empty-states.accessibility.spec.ts
  tests/accessibility/namespace.accessibility.spec.ts
  tests/accessibility/namespaces.accessibility.spec.ts
  tests/accessibility/network-requests/empty-states.har
  tests/accessibility/network-requests/with-schedules.har
  tests/accessibility/network-requests/with-workflows.har
  tests/accessibility/with-schedules.accessibility.spec.ts
  tests/accessibility/with-workflows.accessibility.spec.ts
  tests/accessibility/workflow-list.accessibility.spec.ts
Due: pnpm lint:fix, prettier --write

Fix the tests
  tests/accessibility/network-requests/empty-states.har
  tests/accessibility/with-workflows.accessibility.spec.ts
Due: pnpm lint:fix, prettier --write

Don't update in reality
  tests/accessibility/empty-states.accessibility.spec.ts
  tests/accessibility/with-schedules.accessibility.spec.ts
  tests/accessibility/with-workflows.accessibility.spec.ts
Due: pnpm lint:fix, prettier --write

Remove lint issues
  scripts/generate-locales.ts
Due: pnpm lint:fix, prettier --write

Don't format HAR files
  .prettierignore
Due: none

Update .ls-lint.yml
  .ls-lint.yml
Due: none

Update tests and mocks
  tests/accessibility/empty-states.accessibility.spec.ts
  tests/accessibility/network-requests/empty-states.har
  tests/accessibility/network-requests/with-schedules.har
  tests/accessibility/network-requests/with-workflows.har
  tests/accessibility/with-schedules.accessibility.spec.ts
  tests/accessibility/with-workflows.accessibility.spec.ts
Due: pnpm lint:fix, prettier --write

Remove screen shots
  tests/accessibility/empty-states.accessibility.spec.ts
  tests/accessibility/network-requests/empty-states.har
Due: pnpm lint:fix, prettier --write

Fix boolean log and add more unit tests
  src/lib/utilities/get-codec.test.ts
  src/lib/utilities/get-codec.ts
Due: pnpm lint:fix, prettier --write

Update playwright tests
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/utilities/get-codec.test.ts
  tests/data-encoder.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Fix action text on Cancel modal (#1415)
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/i18n/locales/en/workflows.ts
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

use mocked decoded data from codec server
  temporal/client.ts
  temporal/codec-server.ts
  temporal/data-converter.ts
  temporal/payload-codec.ts
  temporal/workers.ts
  tests/e2e/workflows.spec.ts
Due: pnpm lint:fix, prettier --write

Update Namespace or Cluster
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/stores/data-encoder.ts
  tests/data-encoder.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix env stuff
  .env.test.e2e
  .env.test.integration
  package.json
Due: prettier --write

wait for worker to be running before running tests
  temporal/workers.ts
  tests/global-setup.ts
Due: pnpm lint:fix, prettier --write

Remove blue background on nav
  src/lib/holocene/codec-endpoint-settings.svelte
  src/lib/holocene/data-converter-port-settings.svelte
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/holocene/navigation/top-nav.svelte
Due: stylelint --fix

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  pnpm generate:locales: any of: src/lib/i18n/locales/*/*.ts
  stylelint --fix: any of: *.{css,postcss,svelte}
