Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["pnpm lint:fix", "prettier --write"],
  "src/lib/i18n/locales/*/*.ts": "pnpm generate:locales",
  "*.{css,postcss,svelte}": "stylelint --fix",
  "*.{json,md}": "prettier --write"
}

Map default columns to the namespace column store (#1476)
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

2.16.10
  package.json
Due: prettier --write

2.16.10 (#1477)
  package.json
Due: prettier --write

Add empty state text
  src/lib/components/workers-list.svelte
Due: stylelint --fix

Set default columns for namespace if there are none
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/orderable-list.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Use columnsInUse
  src/lib/components/workflow/workflows-summary-configurable-table/orderable-list.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Make sure current namespace has default columns
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/orderable-list.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add icon, show default versions in table
  src/lib/components/workers-list.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/merge.svelte
  src/lib/utilities/task-queue-compatibility.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Set default columns for current Namespace (#1478)
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

2.16.11
  package.json
Due: prettier --write

2.16.11 (#1479)
  package.json
Due: prettier --write

Fix version tag length and utilities
  src/lib/components/workers-list.svelte
  src/lib/utilities/task-queue-compatibility.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add new font, add expandable table row
  src/app.css
  src/lib/components/workers-list.svelte
  src/lib/holocene/table/expandable-table-row.svelte
  src/lib/utilities/task-queue-compatibility.ts
  src/lib/vendor/css/fonts/NotoSansMono/NotoSansMono-VariableFont_wdth,wght.ttf
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add tests for time format store
  src/lib/stores/time-format.test.ts
Due: pnpm lint:fix, prettier --write

Add internationalization for Workers page
  src/lib/components/workers-list.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
  static/i18n/locales/en/common.json
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Add internationalization for Stack Trace page
  src/lib/holocene/loading.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflow-stack-trace.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/stack-trace/+page.svelte
  static/i18n/locales/en/common.json
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Add internationalization for Queries page
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflow-query.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/query/+page.svelte
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Add internationalization for Pending Activities page
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflow-pending-activities.svelte
  src/lib/utilities/format-event-attributes.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/pending-activities/+page.svelte
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Add internationalization for Workflow History page
  src/lib/i18n/locales/en/workflows.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
  static/i18n/locales/en/workflows.json
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Create a compatibility bage, add to workflow header, add types
  src/app.css
  src/lib/components/workers-list.svelte
  src/lib/holocene/compatibility-badge.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/models/workflow-execution.ts
  src/lib/pages/task-queue-workers.svelte
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/task-queue-compatibility.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Remove start and end time sort filter
  src/lib/components/workflow/dropdown-filter/end-time.svelte
  src/lib/components/workflow/dropdown-filter/start-time.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-cell.svelte
Due: stylelint --fix

Fix lint error
  src/lib/holocene/loading.svelte
Due: stylelint --fix

Update snapshot
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
Due: none

Add tests for time format store (#1480)
  src/lib/stores/time-format.test.ts
Due: pnpm lint:fix, prettier --write

Remove workflowSorts store
  src/lib/components/workflow/advanced-filter/sort-filter.svelte
  src/lib/components/workflow/dropdown-filter/sort.svelte
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/workflow-advanced-filters.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/list-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
  src/routes/(app)/+layout.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add autofocus and BooleanFilter
  src/lib/components/workflow/filter-search/boolean-filter.svelte
  src/lib/components/workflow/filter-search/conditional-menu.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/number-filter.svelte
  src/lib/components/workflow/filter-search/status-filter.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/primitives/menu/menu-item.svelte
  src/lib/models/workflow-filters.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add unit tests and display only if using versioning
  src/lib/holocene/compatibility-badge.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/types/workflows.ts
  src/lib/utilities/task-queue-compatibility.test.ts
  src/lib/utilities/task-queue-compatibility.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

WIP KeywordList support
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/list-filter.svelte
Due: stylelint --fix

Disable duplicate filters and close filter on escape key
  src/lib/components/workflow/filter-search/index.svelte
Due: stylelint --fix

Add version to poller table, add reachability api. Not sure if I need it
  server/proto/api/temporal/api/workflowservice/v1/service.proto
  src/lib/components/workers-list.svelte
  src/lib/holocene/compatibility-badge.svelte
  src/lib/holocene/pagination.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/services/pollers-service.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/task-queue-compatibility.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Remove start and end time sort filter in table header and $workflowSorts (#1482)
  src/lib/components/workflow/advanced-filter/sort-filter.svelte
  src/lib/components/workflow/dropdown-filter/end-time.svelte
  src/lib/components/workflow/dropdown-filter/sort.svelte
  src/lib/components/workflow/dropdown-filter/start-time.svelte
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/workflow-advanced-filters.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/list-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
  src/routes/(app)/+layout.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Figure out retirablity somewhat. Add a badge, need to confirm what it means to actually be retirable
  package.json
  pnpm-lock.yaml
  src/lib/components/workers-list.svelte
  src/lib/services/pollers-service.ts
  src/lib/types/index.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Stack the side nav to the top on sm screen
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/side-nav.svelte
  src/lib/holocene/navigation/top-nav.svelte
  src/routes/(app)/+layout.svelte
Due: stylelint --fix

disabling cookie checks interchange vault access token with identity token
  server/Dockerfile
  server/server/auth/oidc.go
  server/server/route/auth.go
  src/lib/utilities/request-from-api.ts
Due: pnpm lint:fix, prettier --write

Keep default behavior for esc on input and UI fixes
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/number-filter.svelte
  src/lib/components/workflow/filter-search/status-filter.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
  src/lib/models/workflow-status.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Update DateTime filter, add view more and toggle search actions
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/index.svelte
Due: stylelint --fix

added docker compose file
  docker-compose.yml
  src/lib/holocene/navigation/side-nav.svelte
  src/lib/services/settings-service.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/settings/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Update button test
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/button.test.ts
Due: pnpm lint:fix, prettier --write

Fix removeQuery bugs
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/utilities/query/to-list-workflow-filters.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Update status table cell test
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
Due: none
