Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

move i18next.init up a layout
  src/lib/i18n/translate.svelte
  src/routes/(app)/+layout.ts
  src/routes/+layout.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

reset batch checkboxes when updating
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

Remove contact support link
  src/lib/components/workflow/workflow-typed-error.svelte
Due: stylelint --fix

UI fixes for JSON navigator (#1361)
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/holocene/input/range-input.svelte
  src/lib/pages/workflow-history-json.svelte
Due: stylelint --fix

Update types to support new Workflow Update events (#1363)
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/utilities/is-event-type.test.ts
  src/lib/utilities/is-event-type.ts
Due: pnpm lint:fix, prettier --write

wait for workflows to be loaded
  cypress/integration/workflow-bulk-actions.spec.js
Due: pnpm lint:fix, prettier --write

Add a label to namespace search
  src/routes/(app)/select-namespace/+page.svelte
Due: stylelint --fix

Remove stale Dockerfile.
  Dockerfile
  server/Dockerfile
Due: none

Update src/lib/pages/workflows-with-new-search.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

Add a label to namespace search (#1367)
  src/routes/(app)/select-namespace/+page.svelte
Due: stylelint --fix

just check for updating
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

Add copy for new errors
  src/lib/components/workflow/workflow-typed-error.svelte
Due: stylelint --fix

just use $updating
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

DT-796 - reset batch checkboxes when workflows list is updating (#1366)
  cypress/integration/workflow-bulk-actions.spec.js
  src/lib/pages/workflows-with-new-search.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

replace eventId text input with selectable list
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflow-reset-form.svelte
  src/lib/models/workflow-actions.ts
  src/lib/stores/events.ts
  src/lib/types/events.ts
  src/lib/utilities/get-first-reset-event-id.test.ts
  src/lib/utilities/get-first-reset-event-id.ts
  src/lib/utilities/is-event-type.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix/remove cy tests
  cypress/integration/workflow-actions.spec.js
  src/lib/components/workflow/workflow-reset-form.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Remove stale Dockerfile. (#1368)
  Dockerfile
  server/Dockerfile
Due: none

[DT-843] Update and add errors to WorkflowTypedError (#1370)
  src/lib/components/workflow/workflow-typed-error.svelte
Due: stylelint --fix

better type safety, var naming, and logging
  scripts/generate-locales.ts
  src/lib/pages/workflows-with-new-search.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

PR feedback
  cypress/integration/workflow-actions.spec.js
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflow-reset-form.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

DT-824 - set up i18n (#1362)
  .lintstagedrc.json
  package.json
  plugins/vite-plugin-i18n-locales.ts
  pnpm-lock.yaml
  scripts/generate-locales.ts
  src/app.d.ts
  src/lib/i18n/keys.ts
  src/lib/i18n/locales/de/common.ts
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/fr/common.ts
  src/lib/i18n/store.ts
  src/lib/i18n/translate.svelte
  src/lib/services/workflow-service.ts
  src/routes/(app)/+layout.ts
  src/routes/+layout.ts
  static/i18n/locales/de/common.json
  static/i18n/locales/en/common.json
  static/i18n/locales/fr/common.json
  vite.config.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

DT-859 - replace eventId text input with selectable list (#1371)
  cypress/integration/workflow-actions.spec.js
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflow-reset-form.svelte
  src/lib/models/workflow-actions.ts
  src/lib/stores/events.ts
  src/lib/types/events.ts
  src/lib/utilities/get-first-reset-event-id.test.ts
  src/lib/utilities/get-first-reset-event-id.ts
  src/lib/utilities/is-event-type.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add tests for namespaces store
  package.json
  pnpm-lock.yaml
  src/lib/stores/namespaces.test.ts
  vitest.config.ts
Due: pnpm lint:fix, prettier --write

Add tests for namespace service
  src/lib/services/namespaces-service.test.ts
  src/lib/services/namespaces-service.ts
Due: pnpm lint:fix, prettier --write

Clear error onDestroy
  src/lib/components/schedule/schedule-form-view.svelte
Due: stylelint --fix

Clear error on edit
  src/lib/components/schedule/schedule-form-view.svelte
Due: stylelint --fix

Use Alert component
  src/lib/components/schedule/schedule-form-view.svelte
Due: stylelint --fix

Add tests for namespaces store and namespaces service (#1374)
  package.json
  pnpm-lock.yaml
  src/lib/services/namespaces-service.test.ts
  src/lib/services/namespaces-service.ts
  src/lib/stores/namespaces.test.ts
  vitest.config.ts
Due: pnpm lint:fix, prettier --write

Make title optional in Alert component
  src/lib/holocene/alert.story.svelte
  src/lib/holocene/alert.svelte
Due: stylelint --fix

[DT-1001] Error not cleared on Schedule (#1375)
  src/lib/components/schedule/schedule-form-view.svelte
Due: stylelint --fix

Update README.md
  README.md
Due: prettier --write

Hide Update option in event category filter for earlier versions
  src/lib/components/event/event-category-filter.svelte
Due: stylelint --fix

Make title optional in Alert component (#1377)
  src/lib/holocene/alert.story.svelte
  src/lib/holocene/alert.svelte
Due: stylelint --fix

hide "Create Schedule" button on schedules list pg empty state when there is an error from the API
  src/lib/pages/schedules.svelte
Due: stylelint --fix

Remove unnecessary modal close
  src/lib/pages/schedule-view.svelte
Due: stylelint --fix

hide "Create Schedule" button on schedules list pg empty state when there is an error from the API (#1380)
  src/lib/pages/schedules.svelte
Due: stylelint --fix

2.15.4
  package.json
Due: prettier --write

2.15.4 (#1382)
  package.json
Due: prettier --write

OpenAPI notion (#1378)
  README.md
Due: prettier --write

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  pnpm generate:locales: any of: src/lib/i18n/locales/*/*.ts
  stylelint --fix: any of: *.{css,postcss,svelte}
