Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["pnpm lint:fix", "prettier --write"],
  "src/lib/i18n/locales/*/*.ts": "pnpm generate:locales",
  "*.{css,postcss,svelte}": "stylelint --fix",
  "*.{json,md}": "prettier --write"
}

Update docs to match current behaviour.
  server/docker/README.md
Due: prettier --write

some more css tweaks
  src/lib/components/workflow/filter-search/status-filter.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  tailwind.config.cjs
Due: stylelint --fix

Update Modal to accept open and error props
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
Due: stylelint --fix

Update Modal instances
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

Use timeFormat for lastHeartbeatTime
  src/lib/components/workflow/pending-activities.svelte
  src/lib/pages/workflow-pending-activities.svelte
Due: stylelint --fix

some more css tweaks
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
Due: stylelint --fix

update snaps
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
Due: none

Add timezone select in top nav (#1548)
  cypress/integration/event-history.spec.js
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/filters/date-time-format.svelte
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/top-nav.svelte
  src/lib/components/workers-list.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-row.svelte
  src/lib/holocene/primitives/menu/menu-item.svelte
  src/lib/holocene/primitives/menu/menu.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/lib/pages/workflows.svelte
  src/lib/stores/time-format.test.ts
  src/lib/stores/time-format.ts
  src/lib/types/global.ts
  src/lib/utilities/event-formatting.test.ts
  src/lib/utilities/event-formatting.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/format-event-attributes.ts
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

some updates for timezone selector and menu widths
  src/lib/components/timezone-select.svelte
  src/lib/components/top-nav.svelte
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/i18n/locales/en/common.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

update snaps
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
Due: none

Use bind to handle open and error on cancel
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/schedule-view.svelte
Due: stylelint --fix

Add elapsed time to Workflow summary
  src/lib/components/workflow/workflow-summary.svelte
Due: stylelint --fix

Don't include milliseconds
  src/lib/components/workflow/workflow-summary.svelte
Due: stylelint --fix

fix select label
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/i18n/locales/en/common.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

fix typo
  src/lib/holocene/combobox/combobox.svelte
Due: stylelint --fix

add padding to datetime-filter menu
  src/lib/components/workflow/filter-search/datetime-filter.svelte
Due: stylelint --fix

add stopPropigation to menu item keydown listener
  src/lib/holocene/menu/menu-item.svelte
Due: stylelint --fix

don't shrink leading icon in combobox
  src/lib/holocene/combobox/combobox.svelte
Due: stylelint --fix

Update docs to match current behaviour. (#1556)
  server/docker/README.md
Due: prettier --write

add w-full to combobox menu
  src/lib/holocene/combobox/combobox.svelte
Due: stylelint --fix

Add elapsed Workflow time (#1558)
  src/lib/components/workflow/workflow-summary.svelte
Due: stylelint --fix

Make date range reactive to relativeTime changes
  src/lib/components/workflow/filter-search/filter-list.svelte
Due: stylelint --fix

Convert relative time to date
  src/lib/components/workflow/filter-search/datetime-filter.svelte
Due: stylelint --fix

Add test case to formatDate
  src/lib/utilities/format-date.test.ts
Due: pnpm lint:fix, prettier --write

Fix datetime filter dropdown position
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
Due: stylelint --fix

clean up split button
  src/lib/holocene/split-button.story.svelte
  src/lib/holocene/split-button.svelte
Due: stylelint --fix

-_-
  src/lib/holocene/split-button.story.svelte
Due: stylelint --fix

Remove unused import
  src/lib/components/workflow/filter-search/filter-list.svelte
Due: stylelint --fix

clean up split button again
  src/lib/holocene/split-button.story.svelte
  src/lib/holocene/split-button.svelte
Due: stylelint --fix

Fix relative time filter (#1559)
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/utilities/format-date.test.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Make unique aria-labels
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/pagination.svelte
  src/lib/holocene/select/filter-select.svelte
Due: stylelint --fix

Update src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
Due: stylelint --fix

update combobox to handle large values
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-item.svelte
Due: stylelint --fix

add minWidth 34 to namespace switcher
  src/lib/components/top-nav.svelte
Due: stylelint --fix

Truncate long values but show full value on hover
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Due: stylelint --fix

Update Modal component with open and error props (#1557)
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

Empty namespace copy
  .nvmrc
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: pnpm lint:fix, prettier --write, pnpm generate:locales, stylelint --fix

Fix issue with reverse sort of workflow timeline item. Remove caption to fix compact view
  src/lib/components/event/event-group-details.svelte
  src/lib/components/event/event-history-timeline.svelte
Due: stylelint --fix

Fix issue with reverse sort of workflow timeline item. Remove caption to fix compact view (#1563)
  src/lib/components/event/event-group-details.svelte
  src/lib/components/event/event-history-timeline.svelte
Due: stylelint --fix
